@page
@model PropertyManagerWeb.Pages.CContratos.CreateModel
@{

}
<h1>Create</h1>
<hr />
<h4>Pagos</h4>
<div class="col-md-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Contratos.IdPropiedad" class="control-label"></label>
            <input asp-for="Contratos.IdPropiedad" class="form-control" />
            <span asp-validation-for="Contratos.IdPropiedad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Contratos.IdInquilino" class="control-label"></label>
            <input asp-for="Contratos.IdInquilino" class="form-control" />
            <span asp-validation-for="Contratos.IdInquilino" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Contratos.FechaInicio" class="control-label"></label>
            <input asp-for="Contratos.FechaInicio" class="form-control" />
            <span asp-validation-for="Contratos.FechaInicio" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Contratos.FechaFin" class="control-label"></label>
            <input asp-for="Contratos.FechaFin" class="form-control" />
            <span asp-validation-for="Contratos.FechaFin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contratos.Deposito" class="control-label"></label>
            <input asp-for="Contratos.Deposito" class="form-control" />
            <span asp-validation-for="Contratos.Deposito" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contratos.Terminos" class="control-label"></label>
            <input asp-for="Contratos.Terminos" class="form-control" />
            <span asp-validation-for="Contratos.Terminos" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-page="./Index" class="btn btn-primary">
                Back
                to List
            </a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}