@page
@model PropertyManagerWeb.Pages.CInquilinos.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Inquilinos.Id" />
            <div class="form-group">
                <label asp-for="Inquilinos.Nombre" class="control-label"></label>
                <input asp-for="Inquilinos.Nombre" class="form-control" />
                <span asp-validation-for="Inquilinos.Nombre" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Inquilinos.Apellido" class="control-label"></label>
                <input asp-for="Inquilinos.Apellido" class="form-control" />
                <span asp-validation-for="Inquilinos.Apellido" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Inquilinos.Telefono" class="control-label"></label>
                <input asp-for="Inquilinos.Telefono" class="form-control" />
                <span asp-validation-for="Inquilinos.Telefono" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Inquilinos.Email" class="control-label"></label>
                <input asp-for="Inquilinos.Email" class="form-control" />
                <span asp-validation-for="Inquilinos.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inquilinos.IdPropiedad" class="control-label"></label>
                <input asp-for="Inquilinos.IdPropiedad" class="form-control" />
                <span asp-validation-for="Inquilinos.IdPropiedad" class="text-danger"></span>
            </div>
           


            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }  

}

